@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .manager-title {
    @apply inline-block  font-semibold leading-[1.75em];
  }
  .manager-main-title {
    @apply my-10 text-[1.9em] text-black leading-[40px] font-semibold;
  }
}

@layer base {
  @font-face {
    font-family: 'Open Sans';
    src:
      url('@/assets/fonts/OpenSans-Regular.woff2') format('woff2'),
      url('@/assets/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src:
      url('@/assets/fonts/OpenSans-SemiBold.woff2') format('woff2'),
      url('@/assets/fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src:
      url('@/assets/fonts/OpenSans-Bold.woff2') format('woff2'),
      url('@/assets/fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src:
      url('@/assets/fonts/OpenSans-ExtraBold.woff2') format('woff2'),
      url('@/assets/fonts/OpenSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src:
      url('@/assets/fonts/OpenSans-Light.woff2') format('woff2'),
      url('@/assets/fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Open Sans';
    src:
      url('@/assets/fonts/OpenSans-Medium.woff2') format('woff2'),
      url('@/assets/fonts/OpenSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #212529;
    line-height: 1;
  }
}
